# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.schoolapp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\gitrepos\C-sharp\essential training 1\opdr1\schoolapp\.idea\.idea.schoolapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
