# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.WeatherData.iml
# Datasource local storage ignored files
/../../../../../../../../../:\gitrepos\C-sharp\code clinin C#\opdr 1\weather pond Oreille\.idea\.idea.WeatherData\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
